/.vscode
/public_html/hot
/public_html/build
/public_html/storage
/temp
/deploy.tgz

/Laravel/.phpunit.cache
/Laravel/node_modules
/Laravel/storage/*.key
/Laravel/storage/pail
/Laravel/vendor
/Laravel/.env
/Laravel/.env.backup
/Laravel/.env.production
/Laravel/.phpactor.json
/Laravel/.phpunit.result.cache
/Laravel/Homestead.json
/Laravel/Homestead.yaml
/Laravel/npm-debug.log
/Laravel/yarn-error.log
/Laravel/auth.json
/Laravel/.fleet
/Laravel/.idea
/Laravel/.nova
/Laravel/.vscode
/Laravel/.zed
